*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: "Raleway", sans-serif;
}

.container{
   width: 100%;
   min-height: 100vh;
   background-color: darkgoldenrod;
   text-align: center;
}

h1{
   color: white;
   font-weight: 800;
   padding: 10px;
}

nav a{
   font-weight: 600;
   padding: 10px;
   text-decoration: none;
   color: navy;
   font-size: larger;
   transition: all 0.3s;
}

nav a:hover{
   color: white;
   border-bottom: 1px solid crimson;
}

.hero{
   padding: 10px;
   margin: 15px auto;
   width: 90%;
   min-height: auto;
   background-color: bisque;
}
.imgcard {
   margin: auto;
   min-width: fit-content;
   padding: 8px;
   width: 100%;
}
.imgcard img {
   max-width: 100%;
   height: auto;
   display: block;
   border-radius: 10px;
}

.imgcard > p{
   margin: 10px;
   font-weight: 400;
   font-size: 1.5vmax;
   word-spacing: 2px;
   text-align: center;
}

/* For tablet viewing experience */
@media (max-width: 768px) {
   .imgcard {
       width: 90%;
   }

   .imgcard img {
       border-radius: 8px;
   }

   .imgcard > p {
       font-size: 1.2vmax;
   }
}
/* For Smartphones */
@media (max-width: 480px) {
   .imgcard {
       width: 100%;
   }

   .imgcard img {
       border-radius: 5px;
   }

   .imgcard > p {
       font-size: 1rem;
       word-spacing: 1px;
   }
}
/* End */

span{
   color: navy;
   font-weight: 500;
   font-size: 2vmax;
   border-bottom: 2px solid crimson;
}

.service{
   padding: 15px;
   margin: 15px auto;
   width: 90%;
   background-color: bisque;
}

.service>h3{
   font-size: 1.5vmax;
   font-weight: 400;
   color: navy;
}

.service>p{
   margin: 10px;
   font-size: 1.5vmax;
   padding: 12px 12px;
}

.route-collection{
   display: flex;
   align-items: center;
   justify-content:space-around;
   gap: 10px;
}

.route-1 #loc{
   flex-flow: row;
   background-color: tomato;
   margin: 15px auto;
   padding: 10px;
   width: 20vw;
   border-radius: 25px;
   transition: all 0.3s;
}

.route-2 #loc{
   color: white;
   background-color: brown;
   margin: 15px auto;
   padding: 10px;
   width: 20vw;
   border-radius: 25px;
   transition: all 0.3s;
}

.route-3 #loc{
   color: white;
   background-color: purple;
   margin: 15px auto;
   padding: 10px;
   width: 20vw;
   border-radius: 25px;
   transition: all 0.3s;

}
#loc:hover{
   transform: translateY(-10px);
   font-weight: 800;
}

.route-selector{
   margin: 10px auto;
   border-radius: 25px;
   background-color: rgba(243, 253, 238, 0.235);
   padding: 10px 12px;
   width: 20vw;
   height: 40vh;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
}
/* For tablet viewing experience */
@media (max-width:768px) {
   .route-selector{
      width: 50vw;
      height: auto;
      padding: 20px;
   }
   select{
      width: 80%;
      padding: 8px;
   }
   .route-selector h3{
      font-size: 1.2vmax;
   }
}
@media (max-width:480px) {
   .route-selector{
      width: 90%;
      height: auto;
      padding: 15px;
   }
   select{
      width: 90%;
      padding: 8px;
   }
   .route-selector h3{
      font-size: 1rem;
   }
   .search{
      width: 80%;
      padding: 8px;
   }
}
/* End */
h3{
   padding: 10px;
   font-size: 1.5vmax;
}
select{
   outline: none;
   border: none;
   width: 15vw;
   padding: 10px;
   margin: 10px 0;
}
.search{
   margin: 10px auto;
   cursor: pointer;
   border: none;
   border-radius: 25px;
   padding: 10px 18px;
   background: #0943c0;
   color: white;
   transition: transform 0.3s ease;
}
.search:hover{
   background-color: blue;
   font-weight: 800;
   transform: scale(1.05);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
}

.contact{
   padding: 15px;
   margin: 15px auto;
   width: 90%;
   background-color: bisque;
}

.contact>p{
   font-size: 1.5vmax;
   padding: 12px 12px;
}
.contact form{
   max-width: 600px;
   margin: 20px auto;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="phone"],
#contact textarea {
   width: 100%;
   padding: 15px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
}
#contact button.btn {
   background-color: #2b26c3;
   color: white;
   padding: 15px 30px;
   font-size: 1vmax;
   border: none;
   cursor: pointer;
   border-radius: 5px;
}

#contact button.btn:hover {
   background-color: #0400f9;
}

footer{
   background-color: #916715;
   color: white;
   text-align: center;
   padding: 20px 0;
   margin-top: 30px;
}
footer > p {
   margin: 0.5vmax;
   font-weight: 500;
   font-size: 1vmax;
}

.descript-about>img{
   align-items: center;
   justify-content:space-around;
   width: 2.5vmax;
   cursor: pointer;
   margin: 0.5vmax;
}
.descript-about>a{
   font-size: 1.2vmax;
   font-weight: 500;
   text-decoration: none;
   color:white;
   margin: 0.5vmax;
}
.back-to-top {
   display: none;
   position: fixed;
   bottom: 40px;
   right: 40px;
   background-color: #fe8707;
   color: white;
   border: none;
   border-radius: 25px;
   padding: 15px 20px;
   font-size: 1rem;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   z-index: 1000;
}

.back-to-top:hover {
   background-color: #2e7d32; 
}
